.footer__text {
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 200px;
  max-width: 318px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer__text {
    margin-left: 5px;
    margin-top: 0;
  }
}

@media screen and (max-width: 544px) {
  .footer__text {
    width: 282px;
    font-size: 14px;
    margin: 0 auto 36px;
  }
}
